@media (max-width:991px){
        .navigation-bar .navbar-nav .nav-link {
            text-align: left;
        }
        .header-area {
        
            margin-bottom: initial;
        }
        .system-data-header {
            margin-bottom: 10px;
        }
        .system-data-content {
            text-align: left;
            margin-bottom: 20px;
        }
        .XSI-img-blue {
        
            transform: none;
        }

       


        .overflow-feature{
            display: -webkit-box;
            width: 100%;
            overflow: auto;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .overflow-feature::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
        

        .system-data h3 {
            font-size: 30px !important;
            line-height: 45px;
            letter-spacing: -0.1px;
            text-align: left;
        }
        .navigation-bar .navbar-nav .nav-link {
            text-align: left;
            padding: 10px 10px 10px 0  !important;
            
        }

        .navigation-bar .dropdown-toggle::after {
            transform: rotate(270deg);
            float: right;
            margin-right: 10px;
        }

        .navigation-bar .dropdown.show .dropdown-toggle::after {
            transform: none;
        }
        .navigation-bar .nav-link.active {
            border-bottom: none; 
            text-decoration: underline !important;
            color: #437FEC !important;
        }

        .navigation-bar .navbar-brand img {
            width: 85px;
        }

        .navigation-bar .navbar{
            padding:25px 30px 25px 30px !important;
        }

        .navigation-bar .dropdown-menu {
            background: #FFFFFF;
            box-shadow: none;
            border: none;
        }
      
        .header-area {
            background-image: url(../images/Header/header-bg-image1_mobile.png);
            }
        .header-content h1{
            font-size: 36px !important;
            line-height: 54px   !important;
        }
        .header-content {
            text-align: center;
            margin-top: 15px;
            font-weight: 400;
        }
        .system-data h4{
            font-weight: bold;
    font-size: 18px !important;
    line-height: 24px !important;
    margin-bottom: 15px;
        }
        .heading1 h2{
            font-weight: bold;
    font-size: 26px !important;
    line-height: 45px !important;
        }
        .Integrated-Products hr {
            margin: 25px 0;
        }
        .Integrated-Products h4 {
            font-weight: bold;
    font-size: 30px !important;
    line-height: 45px !important;
        }
        .xsi,.xdi,.xsm{
            padding: 25px 0 70px;
        }
        .xsi-content,.xdi-content,.xsm-content{
            padding-left: 30px;
        }
        .text-img{
            max-width: 230px !important;
        }
        .btn-web{
            display: none;
        }
   
    .Integration-Advances {
        background: url(../images/Section3/bg-image_mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 150%;
        padding: 40px 0;
        background-position: bottom;
    }
    .Integration-Advances h4{
        font-size: 30px !important;
    line-height: 39px !important;
    }
    .Integration-Advances p{
        font-size: 14px !important;
    line-height: 21px !important;
    }
    .Integration-Advances .btn-3{
        font-size: 14px !important;
    line-height: 24px !important;
    }
   
    .digital-evolution h4 {
        font-size: 26px !important;
        line-height: 39px !important;
    }


   
    .digital-evolution .partner-header{
        font-weight: normal;
        font-size: 16px !important;
        line-height: 26px !important;
        padding: 0 50px;
        margin-bottom: 45px;
    }
    .digital-evolution .btn-4{
        font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    }

    .footer h4{
        
        font-size: 18px !important;
        line-height: 27px;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer .btn-1{
            padding: 14px 24px;
            text-align: center;
    }
    .footer-heading {
        margin-bottom: 80px;
        margin-top: 70px;
    }
    .footer-item ul li{
        margin-bottom:10px;
    }
    .subscribe-footer .footer-item h6{
        font-size: 15px !important;
    line-height: 18px;
    font-weight: normal;

    text-align: center;

    }

    .footer {
        background: url(../images/Vector50.svg);

        background-size: cover;
        padding: 70px 0;
        background-position:top right;
    }
    .footer-item input {

        width: auto; 
    }
    .subscribe-footer .footer-item{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .footer-logo img {
        width: 100px;
    }
    .footer .social-icon{
        margin-top: 30px;
    }
    .footer .map-mobile{
        display:none;
    }

    .footer .product-info{
        margin-bottom: 40px;
    }
    .container {
        
        padding-right: 30px;
        padding-left: 30px;
    
    }
    .xsi-header-area {
        background-position: bottom 18% right;
        background-size: 95%;
        margin-bottom: 70px;
        padding: 30px 0 0 0;
        background-repeat: no-repeat;
    }
    .xsi-header-area::after {
        content: url(../images/Vector72.svg);
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
    
    }
    .cross-content-flex-mobile{
        display: inline-flex;
        margin-top: 15px;
    }
    .cross-security-content-card {
        padding: 30px 0px 0 0px;
        text-align: center;
        background: #F4F4F4;
        border-radius: 26px;
        height: 245px;
        margin-bottom: 30px;
        margin-right: auto; 
        width: 50%;
    }

    .cross-content-flex-mobile .cross-security-content-card:first-of-type{
        margin-right: 10px;
    }
    .cross-content-flex-mobile .cross-security-content-card:last-of-type{
        margin-left: 10px;
    }

    .cross-system-integrator .cross-security-content-card:first-child::after {
        content: '';
        top: -8%;
        position: absolute;
        right: 22%;
        z-index: 1;
        transform: rotate(90deg);
        background-image: url(../images/xsi/Group430.svg);
        background-repeat: no-repeat;
        background-size: 40px;
        height: 40px;
        width: 40px;
    }
    .cross-system-integrator .cross-security-content-card:last-child::after {
        content: '';
        top: -8%;
        position: absolute;
        z-index: 1;
        left: 19%;
        transform: rotate(90deg);
        background-image: url(../images/xsi/Group430.svg);
        background-repeat: no-repeat;
        background-size: 40px;
        width: 40px;
        height: 40px;
    }
    .card-security::after {
        content: '';
        bottom: -29%;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        z-index: 1;
        top: auto;
        background-image: url(../images/xsi/Group430.svg);
        background-size: 45px;
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
    }
    .xsi-header-area h5{
        font-size: 20px !important;
        line-height: 60px !important;
        font-weight: bold !important;
        color: #343C51;
    }

    .xsi-header-area ul{
        margin-bottom: 35px ;
    }

    /* .owl-carousel .owl-stage-outer {
        
      overflow: initial;
     
    
    } */
    .desktop-xsi-btn{
        display: none;
    }

    .mobile-xsi-btn{
        display: block;
        margin-top: 50px;
        margin-bottom: 45px;
    }
    .header-area {
    
        margin-bottom: initial;
    }
    .system-data-header {
        margin-bottom: 10px;
    }
    .system-data-content {
        text-align: left;
        
    }
    .XSI-img-blue {
    
        transform: none;
    }

    .icon-name {
    
    font-size: 12px !important;
    line-height: 26px !important;
    margin-top:10px;
    
    }
    .water-icon {
        margin-bottom: 5px;
    }


    .overflow-feature {
        display: -webkit-box;
        width: initial;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-right: -30px;
        margin-left: -30px;
    }
    .overflow-feature .w-90{
        width: 90%;
    }

    .overflow-feature::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }


    .system-data h3 {
    
        text-align: left;
    
    }
    .navigation-bar .navbar-nav .nav-link {
        text-align: left;
        padding: 10px 10px 10px 0  !important;
        
    }

    .navigation-bar .dropdown-toggle::after {
        transform: rotate(270deg);
        float: right;
        margin-right: 10px;
    }

    .navigation-bar .dropdown.show .dropdown-toggle::after {
        transform: none;
    }
    .navigation-bar .nav-link.active {
        border-bottom: none; 
        text-decoration: underline !important;
        color: #437FEC !important;
    }

   

    .navigation-bar .navbar{
        padding:25px 30px 25px 30px !important;
    }

    .navigation-bar .dropdown-menu {
        background: #FFFFFF;
        box-shadow: none;
        border: none;
    }
    img {max-width:100%}

    .header-content h1{
        font-size: 36px !important;
        line-height: 54px   !important;
    }


        
    /*intergration page*/
    .integraton-bg .header-content{
        margin-top: 50px;
    }

    .integraton-bg .intergration-bg-img img{
        margin:40px auto 0;
        width: 100%;
    }
    .integraton-bg .header-content h1 {
        text-transform: none;
        font-size: 40px !important;
        line-height: 55px !important;
    }
    .integraton-bg .header-content .intergration-header-comma{
        display: initial;
    }

    .integraton-bg .cross-head p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        
    }


    .bullet-cross::before {
        content: "";
        width: 5px;
        height: 5px;
        transform: rotate(-45deg);
        background-color: #437FEC;
        position: absolute;
        right: 50%;
        left: auto;
        top: -25%;
    }
    .integration-banner-hr
    {
        margin-top: 20px !important;
        margin-bottom: 30px !important;
    }
    .integration-feature img{
        width:130px;
        margin-bottom: 10px;
    }
    .integraton-bg:after {

        display: none;
    }

    .mob-img{
        display: block;
    }
    .desk-img{
        display: none;
    }

    .flow-curve::after {
        display: none;
    }
    .integration-feature p{
        font-size: 18px;
        line-height: 27px;
        width: 90%;
        margin: auto;
        
    }
    .integration-feature h3{
        line-height: 30px;
    }

   .pr-5{
       padding-right: 15px !important;
   }
   .text-center-mob{
       text-align: center !important;
   }
   .text-left-mob{
       text-align: left !important;
   }
   .d-none-mob{
       display: none;
   }
   .xsi-img{
       margin: 0  auto 35px;
   }
   .pl-5{
       padding-left: 15px !important;
   }
   .Integration-Advances {
    background: url(../images/Section3/bg-image_mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 40px 0;
    background-position: bottom;
}
    .Integration-Advances h4{
        font-size: 30px !important;
    line-height: 39px !important;
    }
    .Integration-Advances p{
        font-size: 14px !important;
    line-height: 21px !important;
    }
    .Integration-Advances .btn-3{
        font-size: 14px !important;
    line-height: 24px !important;
    }
    .px-mob-9{
        padding: 0 15%;
    }
    .digital-evolution h4 {
        font-size: 26px !important;
        line-height: 39px !important;
    }


    .brand-carousel .owl-item img {
        padding: 0px;
        height:auto;
        filter: grayscale();
    }
    .digital-evolution .partner-header{
        font-weight: normal;
        font-size: 16px !important;
        line-height: 26px !important;
        padding: 0 50px;
        margin-bottom: 45px;
    }
    .digital-evolution .btn-4{
        font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    }
    .xsi-header-area .bullets{
        font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    }
    .btn-2 {
        font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 70px;
    }
    .important-integration-title {
        font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    }
    .important-integration p {
        margin-bottom: 15px;
    }
    .cross-system-title {
        font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #437FEC;
    }
    .cross-system-subtitle{
        font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    }
    .important-integration .text-center-mob{
        padding:0 20px;
    }
    .system-integration-card {
        background: #EFF1FE;
        box-shadow: 0px 4px 15px 4px rgb(190 198 237 / 50%);
        border-radius: 21px;
        padding: 25px 20px;
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 30px;
        z-index: 2;
    }
    .system-integration-card p {
        font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    }
    .system-integration-card h6 {
        font-weight: bold !important;
        font-size: 16px;
        line-height: 27px;
    }
    .system-integration-card .row{
        margin-bottom: 30px;
    }
    .bg-element-2::before,.bg-element-1::after,.ot-device,.it-system{
        display: none;
    }
    .System-Integration-Made-Easy h3{
        font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    }
    .System-Integration-Made-Easy p{
        font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    padding: 0;
    }
    .OT-and-IT-img{
        display: none;
    }
    .ot-it-mobile{
    margin-bottom: 250px;
    }
    .ot-it-mobile img{
        margin-bottom: 20px; 
    }
    .OT-and-IT p{
        font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    }
    #it_system .key-features-title,#ot_dvice .key-features-title{
        display: none;
    }
    .key-features-title-mob{
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    background-color: #EFF1FE;
    padding: 15px 45px;
    }
    .Simplified-Integration-title{
        line-height: 42px
    }
    .bullets4::before {
        position: absolute;
        content: url(../images/bullets.png);
        transform: translateX(-18px);
    }
    .Adapter-Connector ul li{
    font-size: 16px;
    line-height: 24px;
    }
    .more-it-features-title{
        font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    }
    .acc-btn{
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
    .acc-btn:before {
        content: url(../images/Vector10-mob.svg);
        position: absolute;
        left: 3%;
        transition: all 0.3s linear;
    }
    .vertical-divider::after {
        content: "";
        position: absolute;
        width: 75%;
        height: 3px;
        background: white;
        top: 50%;
        right: 50%;
        transform: translateX(50%);
    }
    .section-2 {
        padding: 40px 0;
        background: #F8F9FD;
        background-position: top;
        position: relative;
    }
    .performance-anlytic li::before {
        content: url(../images/Vector10-mob.svg);
        position: absolute;
        transform: translate(-30px ,4px);
    }
    .performance-anlytic li{
        font-size: 16px;
        line-height: 18px;
    }
    .Advanced-Capabilities h4{
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
    }
    .Advanced-Capabilities p {
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
    }
    .cross-system-integrator h4 {
        font-weight: bold;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 20px;
    }
    .cross-system-integrator .heading-text{
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
    .xdi-header-area {
        background-image: url(../images/XDI/XDI-header-bg.svg);
        background-position: center top;
        background-size: cover;
        padding: 35px 0;
    }
    .xdi-text-image{
        margin-bottom: 10px;
    }
    .xdi-header-area h5 {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .xdi-header-area .bullets {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
    }
    .Importance-of-Integration h3{
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
    }
    .Importance-of-Integration {
        padding: 35px 0;
    }
    .important-integration-subtitle{
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
    }
    .System-Integration-Made-Easy h5{
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }
    .System-Integration-Made-Easy {
        margin-bottom: 20px;
    }
    .dm-title{
        font-weight: bold;
        font-size: 28px;
        line-height: 51px;
    }
    .performance-anlytic1 li{
        padding-left: 28px;
        font-size: 16px;
        line-height: 24px;
    }
    .Centralized-card{
        width: 250px;
        margin-bottom: 35px;
    }
    .Centralized-card p{
        font-size: 18px;
        line-height: 27px;
    }
    .Centralized-Data-Storage h4{
        font-weight: bold;
        font-size: 30px;
        line-height: 80px;
    }
    .semi-title{
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .para1{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .Centralized-Data-Storage {
        padding: 30px 0;
    }
    .card-security .cross-system-heading {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }
    .cross-system-content-card img, .cross-security-content-card img {
        max-width: 50px;
    }
    .cross-system-content-card h3{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }
    .cross-system-content-card p{
        font-size: 14px;
line-height: 21px;
    }
    .Intelligent-Preparation{
        padding-right: 6px !important;
    padding-left: 0px !important;
    }
    .card-security {
        background: #EFF1FE;
        border-radius: 26px;
        padding: 20px;
    }
    .cross-security-content-card h3{
        font-weight: bold;
font-size: 16px;
line-height: 24px;
    }
    .cross-security-content-card p {
        color: #979797;
        font-size: 18px;
        margin: 20px 0 5px;
    }
    .xsm-section-1{
        padding: 35px 0;
    }
    .important-integration-content {
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .system-integration-card-para-1{
        padding: 10px;
    }
    .Security-Integration-Made-Easy h3{
        font-weight: bold;
font-size: 24px;
line-height: 45px;
margin-bottom: 25px;
    }
    .XSM-Key-Features h4{
        font-weight: bold;
font-size: 30px;
line-height: 24px;
    }
    .XSM-Key-card img{
        width: 55px;
        margin-right: 15px;
    }
    .XSM-Key-card {
        display: flex;
        height: 115px;
        text-align: left;
        padding: 20px;
        margin-bottom: 20px;
    }
    .Key-card-title{
        font-weight: bold;
font-size: 20px;
line-height: 28px;
    }
    .XSM-User-Experience h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        padding: 30px 30px 0;
    }
    .xsm-table-heading{
        font-size: 14px;
line-height: 24px;
    }
    .XSM-User-Experience table thead img {
        height: 30px;
        width: 30px;
    }
    .XSM-User-Experience table tr td {
        font-weight: normal;
font-size: 16px;
line-height: 30px;
padding: 5px 25px;
    }
    .container{max-width: initial;
    }
    .XSM-User-Experience .container{
        padding-left: 0;
        /* padding-right: 0; */
       
    }
   
    .integraton-bg-banner{
        padding-bottom: 0;
    }
    .integration-feature{
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .integraton-bg {
       margin-bottom: 30px;
       
    }
    .importance-integration h4 {
        font-weight: bold;
        font-size: 30px !important;
        line-height: 51px !important;
    }
    .importance-integration {
        padding-top: 30px !important;
    }
    .importance-integration::after {
        display: none;
    }
    .integration-card {
        background: #FFFFFF;
        box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
        border-radius: 28px;
    }
    .devops h4 {
        font-weight: bold;
font-size: 30px;
line-height: 45px;
margin-bottom: 20px;
    }
    .devops h5{
        font-weight: bold;
font-size: 18px;
line-height: 22px;
margin-bottom: 15px;
text-align: left;
    }
    .devops ul li {
        font-weight: normal;
font-size: 16px;
line-height: 24px;
    }
    .sasm-img{
        width: 90px;
        height: 90px;
    }
    .devops p{
        font-size: 16px;
line-height: 24px;
    }
    .devops {
        padding: 50px 0;
    }
    .question1, .question2, .question3, .question4 {
        border: none;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        border: 1px solid #EEF2F4;
        position: relative;
        top: -13px;
        margin: 0 20px;
        left: auto;
        z-index: 2;
    }
    .navigation::after {
        position: absolute;
        content: "";
        height: 2px;
        background-color: #ececec;
        width: 320px;
        /* margin-left: 15px; */
        top: 0;
        right: 50%;
        z-index: 1;
        transform: translateX(50%);
    
    }
    .navigation{
        display: flex;
        position: absolute;
    right: 50%;
    transform: translateX(50%);
    }
  
    
    .baler-anchor{
        display: none;
        position: absolute;
    top: 20px;
    }
    .baler-anchor-bold{
        display: block !important;
    }
    .baler-accordian-left-content h3 {
        font-weight: bold;
font-size: 24px;
line-height: 36px;
margin-bottom: 50px;
    }
    .baler-accordian {
      padding: 50px 0;
    }
    .baler-accordian-left-content p {
        font-size: 16px;
line-height: 24px;
    }
    .member-by{
        font-style: italic;
font-weight: bold;
font-size: 20px;
line-height: 40px;
float: right;
    }
    .baler-accordian-right-content {
        margin-top: 100px;
    }
    .img-bot-para{
        height: 70px;
    }
    .We-Are-3Insys h4 {
        font-weight: bold;
font-size: 30px;
line-height: 46px;
margin-bottom: 25px;
    }
    .We-Are-3Insys p{
        font-weight: normal;
font-size: 16px;
line-height: 24px;
    }
    .We-Are-3Insys hr{
        margin: 35px auto;
        width: 70%;
    }
    .our-vision h4{
        font-weight: bold;
font-size: 30px;
line-height: 46px;
margin-bottom: 30px;
    }
    .our-vision-card {
        background: #EDF3FC;
        border-radius: 28px;
        padding: 40px 25px;
        text-align: center;
        height: 480px;
        margin-bottom: 30px;
    }
    .Building-Blocks-content{
        margin-top: 50px;
    }
    .Building-Blocks p{
        font-size: 16px;
line-height: 24px;
    }
    .our-team h4 {
        font-weight: bold;
        font-size: 30px;
        line-height: 27px;
        margin-bottom: 70px;
    }
    .our-team {
        padding: 45px 0 200px;
        background: #F6F8FE;
    }
    .open-modal p {
        font-weight: bold;
        font-size: 18px;
line-height: 27px;
    }
    .open-modal{
        margin-bottom: 50px;
    }
    .bg-element-3::after {
       display: none;
    }
    .Ecosystem-Partner-Environment h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    .contact-header-content {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .contact-header-right img{
        margin-bottom: 40px;
    }
    .contact-header-left h1 {
        font-weight: bold !important;
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .contact-header-left {
        width: 100%;
        margin-bottom: 55px;
    }
    .contact-form .btn-1{
        margin-top: -20px;
    }

    /*card slider*/
    .slider-nav{
        display:block;
    }
    .slider-dots {
        list-style: none;
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
      }
      
      .slider-dots li {
       
        
        display: inline;
        
        margin-right: 5px;

       
        animation-duration: 50ms;
        

      }
      .our-team .modal, .our-team .single-team {
      
        height:auto;
    }
    .team-carousel .owl-nav{
        display: none;
    }
    .popup-team-div  .our-team-inner {
        background: transparent;
        padding: 100px 0 50px;
        
    }
    .popup-team-div .our-team-inner .single-team img {
        width: 175px;
        margin: auto;
    }
    .popup-team-div .our-team-inner  .single-team {
        margin: 30px;
        padding: 60px 40px;
    }
    .single-team img {
        padding-top: initial; 
    }
   
      .slider-dots li a{ color: #C4C4C4;font-size: 30px;}
      
      .slider-dots li.active-dot a{
        color: #437FEC;
      }

      .application-header {
        padding: 30px 0;
    }
    .application-header h4 {
        font-weight: bold;
font-size: 30px;
line-height: 45px;
    }
    .application-header .btn-5{
        float: none;
        margin-top: 32px;
    }
    .my-3-mob{
        margin: 30px 0;
    }
    .application-detail {
        background: #F3F7FD;
        padding: 40px 0;
    }
    .job-description ul li{
        font-weight: normal;
font-size: 16px;
line-height: 24px;
    }
    .apply-button {
        margin-top: 60px;
        text-align: center;
        margin-bottom: 60px;
    }
    .Other-Related-Positions h4 {
        font-weight: bold;
font-size: 30px;
line-height: 46px;
    }
    .otherposition-card{
        margin-bottom: 30px;
    }
    .backtoposition {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #0160E7;
        float: none;
    }
    .Other-Related-Positions {
        padding: 80px 0 45px;
    }
    .faq-seclect-tab h1 {
        font-weight: bold;
font-size: 32px;
line-height: 46px;
    }
    .faq-seclect-tab {
        background: #EFF1FE;
        padding: 10px 0 80px 0;
    }
    .faq-seclect-tab .tab-link{
        margin-bottom: 10px;
    }
    .faq-toggle-card {
        width: 78%;
        margin: auto;
    }
    .faq-tab-content .acc-btn1{
        font-weight: normal;
font-size: 16px;
line-height: 24px;
padding: 15px 10px 15px 40px;
    }
    .acc-btn1:before {
        content: url(../images/mob-polygon.svg);
        transition: all 0.3s linear;
        position: absolute;
        transform: translateX(-34px);
}
.acc-content1 p,.acc-content1 ul li {
    font-size: 16px;
line-height: 24px;
}
.acc-content1 {
    padding-left: 27px;
}
.faq-toggle-card img {
    width: 45px;
}
.acc-btn1.is-open:before {
    content: url(../images/Polygon-down.svg);
    transform: rotate(
90deg
);
    position: absolute;
    transform: translateX(-34px);
}
.policy-header h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #343C51;
}
.policy-header {
    padding: 35px 0 0px;
}
.policy-header p {
    margin-top: 12px;
}
.policy-detail {
    padding: 10px 0;
    background: #F3F7FD;
    margin-bottom: 50px;
}
.policy-description h6 {
    line-height: 24px;
    margin-bottom: 0;
}
.mb-2-mob{
    margin-bottom: 20px !important;
}
.confirm-msg{
    padding: 40px 0;
}
.confirm-msg h1{
    font-weight: bold;
font-size: 18px;
line-height: 26px;
}
.confirm-msg h3{
    font-weight: normal;
font-size: 18px;
line-height: 26px;
}
.apply-now-pg h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
}
.apply-now-pg {
    padding: 30px 0;
}
label[for="et_pb_contact_brand_file_request_0"] {
    width: 60%;
}
.select-dropdown__list-item {
    font-size: 16px;
    line-height: 28px;
}
.select-dropdown__button {
    font-weight: normal;
}
.apply-now-pg form .form-group label {
   font-weight: bold;
}
.career-header-area {
    background-image: url(../images/career/career-header-bg.svg);
    background-position: right top;
    background-size: 100%;
    margin-bottom: 70px;
    padding: 0px ;
    margin-top: 20px;
    background-repeat: no-repeat;
}
.career-header-area h1 {
    font-weight: bold;
font-size: 30px;
line-height: 36px;
}
.career-header-area h5 {
    font-weight: bold;
font-size: 20px;
line-height: 30px;
}
.open-position h3{
    font-weight: normal;
font-size: 32px;
line-height: 46px;
}
.open-position p {
    font-weight: normal;
font-size: 16px;
line-height: 24px;
}

      
    .modal-body img{
          max-width: 500%;
      }
      .modal-open .modal {
        overflow-x: auto;
        background: #f8f9fd;
       
    }
    .modal-dialog {
        max-width: fit-content;
        margin:  auto;
    }
    .modal-header{
        display: none;
    }
     .large-image .modal-content{
         border: none;
     }
     .modal-body {
        
        -webkit-box-flex: 1; 
        -ms-flex: none;
       flex: none;
        padding:initial;
    }
    .about-height{
        opacity: 0;
    }

    /*Styling Selectbox careers*/
    .choose-mob-car{
        display: block;
    }
    
 #open-position .dropdown1 {
    width: 100%;
    display: inline-block;
    
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204 204 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 60px;
    text-align: left;
    background: #F7F9FA;
    top: -50%;
    z-index: 1;
}
#open-position .dropdown1:focus-visible{
    outline: none;

}
#open-position .choose{
    z-index: 2;
    position: relative;
    font-size: 12px;
    color: #979797;
    padding-left: 15px;
    top: -15%;
}
#open-position .dropdown1 .select span {
    font-size: 16px;
    color: #437FEC;
    line-height: 28px;  
    padding-left: 5px;
}
#open-position .dropdown1 .select span::after{
    content: url(../images/select-arrow.svg);
    float: right;
    transform: translateY(-40%);
}
#open-position .dropdown1 .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    position: relative;
    top: 25%;

}
#open-position .dropdown1 .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
#open-position .dropdown1:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
#open-position .dropdown:active {
    background-color: #f8f8f8
}
#open-position .dropdown1.active:hover,
#open-position .dropdown1.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
#open-position .dropdown1.active .select > i {
    transform: rotate(-90deg)
}
#open-position .dropdown1 .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 15px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    background: #F7F9FA;
    display: none;
  
    z-index: 9
}
#open-position .dropdown1 .dropdown-menu li {
    padding-top: 5px;
    padding-left: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
} 
#open-position .dropdown1 .dropdown-menu {
    padding: 20px initial;
    list-style: none
}
#open-position .dropdown1 .dropdown-menu li:hover {
    background-color: #E4E7FB
}
#open-position .dropdown1 .dropdown-menu li:active {
    background-color: #E4E7FB
}
.select-career-head{
    display: none;
}
#business_body, #ccare_body, #design_body, #market_body, #tech_body{
    display: none;
}

.open-position table {
   
    margin-bottom: 40px;
}



.open-position::after {
   display: none;
}
.career-table tr{
    display: -ms-inline-grid;
    display: inline-grid;
    width: 100%;
    padding-left: 30px;
}
.open-position table tbody th {padding-top: initial;}
.open-position table tbody td { padding: 0 0 15px 0;}


/*XSM  chutyapa*/
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    
    background-color: #fff;
}

.tab-cont-mobile{
    display: none;
}

/*overflow-feature-curve*/

.overflow-feature .xsi-bg::after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Section1/arrow2.svg) no-repeat;
    width: 300%;
    height: 250px;
    background-size: contain;
    left: 0;
    bottom: 25%;
    background-position: bottom left;
    z-index: -1;
}
.Integrated-Products {content: none; background: none;}

    /*Navbar dropdown issue*/


    /*backgrounds products*/
    #XSI::after, #XDI::after, #XSM::after{
    content: "";
    background: url(../images/Section2/Section-2-bg-image.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0;
    height: 500px;
    z-index: -1;
    background-size: cover;
    background-position: bottom center;
    transform: translateY(45%);
}
   .btn-mob{
       display: inline-block;
   }

   .Integrated-Products .mobile-align{
       display: inline-grid;
       display: -ms-inline-grid;
       display: -moz-inline-grid;
    }

   .Integrated-Products .mobile-align .btn-mob { 
    width: max-content;
    margin: auto;
    }

    .puzz-mob{
        display: block;
    }
    
    .puzz-desk{
        display: none;
    }
    .XSM-User-Experience {
        padding: initial; 
    }
    .cross-system-integrator {
      padding:0 0 50px; 
    }

    .single-team-mob{
        display: none;
        margin: 30px;
    }
}   
/*special cases for tablet*/
@media (min-width:768px) and (max-width: 991px){
    .footer .map-mobile {
        display: block;
    }
    }
@media (min-width:992px){
    .btn-mob{
        display: none;
    } 
    .ot-it-mobile{
        display: none;
    }
    .key-features-title-mob{
        display: none;
    }
    .d-none-web{
        display: none;
    }
}