/*typography*/
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);
*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    font-family: 'Lato', sans-serif !important;
    color: #343C51 !important;
    padding-right: initial !important;
}
p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
ul{
    list-style: none;
   
}
h1{
    font-family: Lato;
    font-style: normal;
    font-size: 50px !important;
    line-height: 75px !important;
}
h2{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 55px !important;
line-height: 45px !important;   
}
h3{
    font-family: Lato;
font-style: normal;
font-size: 40px !important;
line-height: 51px !important;
}
h4{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 34px !important;
line-height: 45px;
letter-spacing: -0.1px !important;
}
h5{
    font-family: Lato;
font-style: normal;
font-size: 24px;
line-height: 45px;
letter-spacing: -0.1px;
}
h6{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
}
.btn-1{
    background: #00C3FF;
box-shadow: 0px 4px 20px -6px rgba(76, 217, 237, 0.4);
border-radius: 6px;
padding: 10px 20px;
color: #fff;
border: none;
margin-top: 10px;

}
.btn-1:hover{
color: #fff !important;
}
.btn-3{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #0160E7;
}
.btn-2{
    background: #00C3FF;
box-shadow: 0px 8px 8px rgba(0, 195, 255, 0.25);
border-radius: 5px;
padding: 15px 45px;
color: #fff;
}
.btn-4{
    border:2px solid  #437FEC ;
    padding: 15px 25px;
    color:  #437FEC ;
    Font-size: 24px;
    text-transform: uppercase;
}
.btn-5{
    padding: 20px 35px;
    background: #00C3FF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
border-radius: 5px;
font-size: 18px;
color: #FFFFFF;
height: 60px;
}
.btn-5:hover{
    color: #fff;
}
.p-100{
    padding: 100px 0;
}
.p-50{
    padding: 50px 0;
}
.heading-4{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 34px;
text-align: center;
letter-spacing: -0.015em;
color: #343C51;
}
hr{
    border: .5px solid #DADADA;
    background: #DADADA;
    width: 100%;
    opacity: 0.8;
}


/*navigation*/
.navbar-brand img{
    width: 112px;
    max-height: 63px;
}
.nav-link{
    font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: -0.5px;
text-align: center;
color: #343C51 !important;
padding: 35px 10px 35px 10px !important;
}
.nav-link.active{
    border-bottom: 3px solid #0160E7;
}
.navbar{
    padding-bottom: 0 !important;
}
.dropdown-menu{
    background: #FFFFFF;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);


}
.navigation-bar{
    background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
height: 100px;
}
.dropdown-item{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.5px;
color: #000000;
border: none;
padding: 10px 45px 10px 15px !important;
}
.dropdown-item span{
    margin-right: 10px;
}
.fixed-top{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 30px !important;
    padding-left: 0.5rem;
   
}
}
/*Header-area*/
.header-area{
    background-image: url('../images/Header/header-bg-image1.png');
     background-position: center top;
      background-size: cover;
      margin-bottom: 70px;
}
.header-content{
    text-align:center;
    margin-top: 70px;
    font-weight: 400;
}
.header-content span{
    font-weight: 700;
}
/*system-data-content*/
.heading3{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 51px;
text-align: center;
}
.heading3 span{
    font-weight: 700;
}
.system-data .heading3{
margin-bottom: 25px;
}
.system-data-content{
    margin-bottom: 70px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 15px;
}
.system-data-content span{
    font-weight: bold;
}
.XSI:hover .XSI-img{
display: none;
transition: 2s;
}
.XSI:hover .XSI-img-blue{
    display: block;
}
.XSI-img-blue{
    display: none;
    transform: translateY(-70px);
}
.system-data-header{
    margin-bottom: 100px;
}
/*Integrated-Products*/
.Integrated-Products{
    background:  url(../images/Section2/Section-2-bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50%;

}
.heading1 h2{
    color: #437FEC;
    font-weight: 700;
}
.Integrated-Products h4{
    font-weight: 700;
}




/*digital-evolution*/
.digital-evolution{
    padding: 75px 0;
}
.digital-evolution  h4{
    font-weight: 700;
    font-size:40px;
    text-transform: uppercase;
}
.digital-evolution .partner-header{
    font-size: 24px !important;
    color: #437FEC;
    font-weight: 700;
 
}

/*brand carousal*/
.section-padding{
  padding:60px 0;
}

.owl-dots{
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #FF170F !important;
}
.brand-carousel .owl-item img {
  padding: 0 20px;
    height: 60px;
    filter: grayscale();
}
.owl-carousel .owl-item .single-logo:hover img{
    filter: none;
}


/*footer*/
.footer-logo img{
width: 220px;
}
.footer{
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 110px 0;
}
.footer h4{
    font-weight: bold;
    margin-bottom: 70px;
}
.footer-heading{
    margin-bottom: 140px;
}
.footer-item h6,.footer-item2 h6{
    margin-bottom: 40px;
}
.footer-item ul li a{
    font-weight: 300;
font-size: 15px;
line-height: 8px;
color: #343C51;
}
.footer-item input{
    margin-bottom: 20px;
    background: #FFFFFF;
border: 1px solid #D8D8D8;
box-sizing: border-box;
border-radius: 5px;
height: 40px;
width: 230px;
}
.footer hr{
    border: 0.75px solid #9DAFBD;
background: #9DAFBD ;
width: 100%;
opacity: 0.8;
}
.footer-item2 ul li{
    font-size: 12px;
line-height: 18px;
color: #343C51;
}
.social-icon{
    margin-bottom: 50px;
}
.social-icon li{
    display: inline-block;
    padding: 0  12px;
}
.footer-item ul{
    margin-bottom: 0;
}


/*Integration-Advances*/
.Integration-Advances{
    background: url(../images/Section3/section3-bg-image.png);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    padding: 130px 0;
    background-position: bottom;
}

.icon-name{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
text-align: center;
letter-spacing: -0.5px;
color: #343C51;
margin-top: 25px;
}


.Integrated-Products hr{
    margin: 80px 0;
}





/*Integration page start*/
.integraton-bg{
    background-image: none;
    background-position: initial;
    background-size: initial;
    margin-bottom: 70px;
    position: relative;
}
.integraton-bg h1{
    font-size:40px !important;
}


.integraton-bg:after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Header/bg-top-element.png) no-repeat;
    width: 100%;
    height: 380px;
    background-size: 12%;
    left: 0;
    bottom: 50%;
}

.cross-head p{
    font-size:24px;
    line-height: 55px;
    font-weight: 400;
    color: #437FEC;
}
.bullet-cross::before{
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    background-color: #437FEC;
    position: absolute;
    left: 0;
    top: 30%;
}
.integraton-bg hr{
    width: 90%;
    margin: auto;
}
.integration-feature h3{
    font-size: 24px !important;
  
    font-weight: 600;
}

.flow-curve::after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Section1/arrow2.svg) no-repeat;
    width: 100%;
    height: 400px;
    background-size: 75%;
    left: 0;
    bottom: 6%;
    background-position: center;
    z-index: -1;
}

.importance-integration{
    background: #F8F9FD;
    padding: 50px 0;
}
.importance-integration h4 {
    font-weight: 700;
    font-size: 36px !important;
    line-height: 80px !important;
    text-transform: capitalize;

}


/*xsi-products*/

.bullets{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #343C51;
}
.bullets::before{
    position: absolute;
    content: url(../images/bullets.png);
    transform: translateX(-18px);
}
.xsi-header-area{
    background-image: url('../images/xsi/header-bg-image.svg');
    background-position: center top;
     background-size: cover;
     margin-bottom: 70px;
     padding: 100px 0 0 0;
}
.important-integration-title{
font-size: 30px;
color: #343C51;
margin-bottom: 35px;
}
.important-integration p{
    margin-bottom: 22px;
}
.important-integration-content{
    padding-left:30px ;
}
.cross-system-title{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 60px;
color: #437FEC;
margin-bottom: 20px;
}
.section-2{
    padding: 100px 0;
    background: url(../images/color-bg.svg);
    background-position: top;
    position: relative;
    
}
.bg-element-1::after{
    position: absolute;
    content: url(../images/Integration-page/Header/bg-top-element.png);
    background: no-repeat;
    right: 0;
    transform: rotate(180deg);
    top: 12%;
}
.bg-element-2{
    position: relative;
}
.bg-element-2::before{
    position: absolute;
    content: url(../images/Integration-page/Header/bg-top-element.png);
    background: no-repeat;
    left: 0;
    top: 55%;
}
.importance-integration{
    position: relative;
}
.importance-integration::after{
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Header/bg-top-element.png) no-repeat;
    width: 100%;
    height: 380px;
    transform: rotate(180deg);
    background-size: 12%;
    right: 0;
    bottom: 80%
}
.system-integration-card{
    background: #EFF1FE;
box-shadow: 0px 4px 15px 4px rgba(190, 198, 237, 0.5);
border-radius: 21px;
padding: 50px 150px;
width: 90%;
margin:auto;
margin-bottom: 80px;
margin-top: 30px;
z-index: 2;
}
.system-integration-card p{
    font-size: 18px;
line-height: 27px;
text-align: center;
color: #343C51;
margin-bottom: 40px;
}
.system-integration-card p span{
    font-weight: bold;
}
.system-integration-card h6{
    font-size: 22px;
    text-align: center;
}
.System-Integration-Made-Easy{
    margin-bottom: 50px;
}
.System-Integration-Made-Easy p{
    font-size: 18px !important;
    line-height: 27px;
    padding:25px 50px;
}
.key-features-title{
    font-weight: bold;
font-size: 38px;
line-height: 51px;
letter-spacing: -0.1px;
color: #343C51;
margin-bottom: 60px;
}
.Simplified-Integration-title{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 51px;
color: #437FEC;
margin-bottom: 20px;
}
.performance-anlytic li::before{
    content: url(../images/right.png);
    position: absolute;
    transform: translate(-30px ,4px);
}
.Advanced-Capabilities{
    background-color: #F7F9FE;
    padding: 60px 0;
}
.Advanced-Capabilities h4{
    font-weight: bold;
    font-size: 32px;
line-height: 80px;
text-align: center;
letter-spacing: -0.015em;
}
.Advanced-Capabilities p{
    font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: -0.1px;
color: #343C51;
}
/*xdi-products*/

.xdi-header-area{
    background-image: url('../images/XDI/XDI-header-bg.svg');
    background-position: center top;
     background-size: cover;
     padding: 100px 0;
}
.Importance-of-Integration{
    padding: 80px 0;
}
.Importance-of-Integration h3{
    font-weight: bold;
}

.dm-title{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 51px;
color: #437FEC;
}
.semi-title{
    font-size: 28px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #343C51;
}
.Centralized-Data-Storage{
    padding: 80px 0;
}
.Centralized-Data-Storage p{
    font-size: 18px;
}
.Centralized-card{
    background: #EFF1FE;
    box-shadow: 0px 4px 14px #E6EAFE;
    border-radius: 6px;
    padding:35px;
    text-align: center;
    height: 380px;

}
/*xsm-products*/
.xsm-section-1{
    padding: 100px 0 0 0;
}
.Security-Integration-Made-Easy p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.XSM-Key-card{
    display: flex;
    height: 152px;
   
padding: 35px;
margin-bottom: 20px;
}
.XSM-Key-card p{
font-size: 18px;
color: #343C51;
}
.Key-card-title{
    font-weight: bold;
font-size: 28px;
line-height: 35px;
color: #343C51;
}
.XSM-Key-card img{
    width: 85px;
    height: 85px;
    margin-right: 30px;
    filter: grayscale();
}
.keyfeature-detail-card{
    padding: 30px;
    background: #FFFFFF;
box-shadow: 0px 4px 4px #EFF1FE;
border-radius: 12px;
}
.single-keyfeature{
    margin-bottom: 22px;
}
.single-keyfeature h5{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    
    color: #437FEC;
}
.XSM-Key-Features .nav-link{
    padding: 0 !important;
    border: none !important;
}
.XSM-Key-Features .nav{
    display: block !important;
} 
.XSM-Key-Features .nav-tabs {
    border: none !important;
} 
.XSM-Key-Features .nav-link.active .XSM-Key-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #EFF1FE;
    border-radius: 12px;
}
.XSM-Key-Features .nav-link.active .XSM-Key-card img{
    filter: grayscale(0);
}







/*about*/
.about-header-area{
    padding:80px 0 40px 0;    

}
.We-Are-3Insys p{
    font-size: 18px;
}
.our-vision-card{
    background: #EDF3FC;
border-radius: 28px;
padding: 40px 20px;
    text-align: center;
    height: 480px;
}
.our-vision-card p{
    font-size: 18px;
    line-height: 30px;
}
.Building-Blocks{
    padding: 40px 0;
}
.Building-Blocks h3{
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.1px;
    margin-bottom: 30px;
}
.Building-Blocks p{
    font-size: 18px;
    margin-bottom: 25px;
}
.Building-Blocks img{
    margin-left: auto;
}
.our-team{
    padding: 80px 0 200px;
    background: #F6F8FE;
}
.our-team h4{
    font-weight: bold;
    margin-bottom: 80px;
}
.our-team .open-modal img{
    height: 185px;
    width: 185px;
    border-radius: 50%;
    margin:0 auto 20px;
}

.our-team span{
    font-size: 18px;
    color: #437FEC;
}
/*about-inner*/
.our-team-inner{
    background: rgba(89, 152, 247, 0.4);
    padding: 80px 0;
}
.single-team{
    background: #FFFFFF;
box-shadow: 0px 4px 14px 8px rgba(0, 0, 0, 0.25);
padding: 60px 100px;
height: 480px;
}
.single-team img{
    padding-top: 72px;
}
.single-team h5{
    font-size: 22px;
}
.single-team h5 span{
    color: #437FEC;
}
.team-carousel .owl-next,.team-carousel .owl-prev {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.team-carousel .owl-prev {
    left: -12% !important;
}
.team-carousel .owl-next {
    right: -12%;
}




/*career-header-area*/
.career-header-area{
    background-image: url('../images/career/career-header-bg.svg');
    background-position: center top;
     background-size: cover;
     margin-bottom: 70px;
     padding: 60px 0;
     margin-top: 20px;
}
.open-position p{
font-size: 18px;
line-height: 28px;
}
.open-position table{
    width: 100%;
    border: none;
    margin-bottom: 70px;
}
.open-position table thead th{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #437FEC;
padding: 18px 0;
border-bottom: 0.5px solid #DADADA;
}
.open-position table tbody th{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #343C51;
    padding-top: 25px;
}
.open-position table tbody td{
    padding: 25px 70px 0 0;
    float: right;
}


/*application*/
.application-header{
    padding: 70px 0;
    
}
.application-header h4{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 54px;
color: #343C51;
}
.application-header-content a{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #437FEC;
    margin-top: 40px;
}
.application-detail{
    background: #F3F7FD;
    padding: 100px 0;
}
.job-description{
    margin-bottom: 40px;
}
.apply-button{
    margin-top: 100px;
}

/*System  integrity*/
.OT-and-IT{
    margin-bottom: -80px;
}
.OT-and-IT hr{
    position: relative;
    top: -130px;

}
.ot-device::after{
    content: url(../images/xsi/Group491.svg);
    position: absolute;
    right: -15%;
    top: 60%;

}
.OT-and-IT-img {
    position: relative;
    top: -60px;
}
.it-system{
    position: relative;
    top:-200px;
}
.it-system::before{
    content: url(../images/Vector52.svg);
    position: absolute;
    left: -10%;
    top: 25%;
}

/*accordian*/
.more-it-features-title{
    
        font-weight: 700;
        font-size: 28px;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: #343C51;
        margin: 50px 0 30px;
        text-decoration: underline;
}
.acc-btn:focus, .acc-btn:hover{
    outline:none;
    color:  #437FEC !important;
    text-decoration: underline;
}
.acc-btn {
    width: 100%;
    padding: 1.6rem 2rem;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.3s linear;
    color: #343C51;
}
.acc-btn:before {
    content: url(../images/Vector10.svg);
  position: absolute;
  left: 3%;
  
    transition: all 0.3s linear;
}
.acc-btn:after {
    content: url(../images/Polygon8.svg);
    color: #437FEC  !important;
    float: right;
    transition: all 0.3s linear;
}
.acc-btn.is-open:after {
    transform: rotate(180deg);
}


.acc-content {
    max-height: 0;
    color: rgba(0,0,0,0.75);
    font-size: 1.5rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1.5px solid #B7C0EB;
}

.credit {
    text-align: center;
    padding: 1rem;
}
.credit a {
    text-decoration: wavy underline;
    color: dodgerblue;
}


/*Cross system Integrator*/
.card-security{
    background: #EFF1FE;
    border-radius: 26px;
    padding: 30px;
}

.cross-system-content-card img, .cross-security-content-card img{
    max-width:100px;
}
.cross-security-content-card .btn-3{
    font-weight: normal;
font-size: 16px !important;
line-height: 24px;
}

.card-security .cross-system-heading{
    text-align: center;
    font-size: 24px !important;
    font-weight: 700;
}

.cross-system-content-card h3{
    font-size: 18px !important;
    font-weight: 700;
    line-height: 30px !important;
}

.horizental-divider::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 75%;
    background: white;
    top: 15%;
    right: 50%;
}
.vertical-divider::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 75%;
    background: white;
    top: 15%;
    right: 50%;
    transform: rotate(90deg);
}

.cross-security-content-card {
    padding: 30px 0px 0 0px;
    text-align: center;
    background: #F4F4F4;
    border-radius: 26px;
    height: 295px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.cross-security-content-card h3{
    font-size: 18px !important;
    font-weight: 700;
    color:  #707070;
    line-height: 30px !important;
    
}

.cross-security-content-card p{
    color: #979797;
    font-size: 18px !important;

}

.card-security::after{

    content: url(../images/xsi/Group430.svg);
    top: 20%;
    position: absolute;
    right: -6.5%;
    z-index: 1;

}
.cross-system-integrator{
    padding: 80px 0;
}
.cross-system-integrator h4{
    font-weight: bold;
font-size: 34px;
line-height: 80px;
}
.heading-text{
    font-size: 18px;
line-height: 27px;  
color: #343C51;
margin-bottom: 60px;
}
.cross-system-integrator .cross-security-content-card:first-child::after{
    content: url(../images/xsi/Group430.svg);
    top: 43.5%;
    position: absolute;
    right: 45%;
    z-index: 1;
    transform: rotate(90deg);
}
.cross-system-integrator .cross-security-content-card:last-child::after{
    content: url(../images/xsi/Group430.svg);
    top: 70%;
    position: absolute;
    z-index: 1;
    left: -11%;
}


/*Other-Related-Positions*/
.Other-Related-Positions{
    padding: 80px 0 100px;
}
.Other-Related-Positions h4{
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 46px;
color: #343C51;
margin-bottom: 40px;
}
.backtoposition{
    font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #0160E7;
float: right;
}
.backtoposition span{
    margin-right: 10px;
}
.otherposition-card{
    background: #FFFFFF;
border: 1px solid #E6EAFE;
box-sizing: border-box;
box-shadow: 0px 4px 14px 8px #F1F3FB;
padding: 35px 25px;

}
.otherposition-card h6{
    font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #343C51;
margin-bottom: 20px;
}
.otherposition-card p{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #343C51;
    height: 120px;
    margin-bottom: 20px;
}
.otherposition-card a{
    padding-bottom: 10px;
    border-bottom: 3px solid #00C3FF;
    font-size: 16px;
line-height: 21px;
color: #000000;
}
/*policy*/
.policy-header{
    padding: 70px 0;
}
.policy-header h4{
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    color: #343C51; 
}
.policy-header p{
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
color: #979797;
}
.policy-detail{
   padding: 60px 0;
   background: #F3F7FD;
}
.policy-description h6{
    font-weight: bold;
font-size: 16px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #343C51;
}
.policy-detail p{
font-size: 16px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #343C51;
margin-bottom: 0;
}
.policy-description{
    margin-bottom: 40px;
}
/*Faq*/
.faq-seclect-tab{
background:#EFF1FE;
padding: 100px 0 80px 0;
}
.faq-seclect-tab h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.faq-seclect-tab .faq-toggle-card{
    background: #F9FBFF;
box-shadow: 0px 2px 4px #E4E7FB;
border-radius: 6px;
    padding: 15px 20px;
}
.faq-seclect-tab .faq-toggle-card a{
   cursor: pointer;
    color: black;
    padding-left: 20px;
   
}

.faq-tab-content .tab-content{
    display: none;

}

.tab-content.current{
    display: inherit;
}

.acc-btn1:focus, .acc-btn1:hover{
    outline:none;
}
.acc-btn1 {
    width: 100%;
    padding: 30px 90px;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.3s linear;
    font-size: 20px;
    line-height: 30px;
    color: #343C51
}
.acc-btn1:before {
    content: url(../images/Polygon1.svg);
    transition: all 0.3s linear;
    position: absolute;
    transform: translateX(-45px);
}

.acc-btn1.is-open:before {

    content: url(../images/Polygon1-down.svg);

    transform: rotate(90deg);
    position: absolute;
    transform: translateX(-45px);

}

.acc-content1 {
    max-height: 0;
    color: #979797;
    font-size: 20px;
    line-height: 30px;
    padding-left: 5rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1.5px solid #B7C0EB;
}
.acc-content1 p{
    font-size: 20px;
line-height: 30px;
color: #979797;
padding: 0 10px;
}
.tab-link.current .faq-toggle-card{
    background: #FFFFFF;
    border: 1px solid #B7C0EB;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #E4E7FB;
    border-radius: 6px;
}

.tab-link.current .faq-toggle-card a{
    color: #437FEC !important;


}

.faq-toggle-card img{
    width:40px;
}


/*Apply now page*/
.apply-now-pg{
    padding: 80px 0;
}

.apply-now-pg h1{
    line-height: 60px !important;
    font-weight: 700 !important;
    margin-bottom: 50px;
}
.apply-now-pg form .form-group{
    margin: initial;
}
.apply-now-pg form .form-group label{
    color: #979797;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:15px;

}
.apply-now-pg form .form-group input{
    border: 1px solid #D8D8D8;
    margin-bottom:25px;
    background: #F8F9FD;
}

.apply-now-pg form .form-group select{
    border: 1px solid #D8D8D8;
    margin-bottom:25px;
    background: #F8F9FD;
}
.apply-now-pg form .form-group textarea{
    border: 1px solid #D8D8D8;
    margin-bottom:25px;
    background: #F8F9FD;
}



.select-dropdown {
    position: relative;
   
    max-width: 100%;
    margin: 0 15px 0 0;
}
.select-dropdown:last-child {
    margin-right: 0px;
}
.select-dropdown__button {
    padding: 10px 15px 10px 15px;
    background-color: #f8f9fd;
    color: #343a40;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    height: 38px;
    line-height: 5px;
    font-weight: 600;
    margin-bottom: 25px;
}
.select-dropdown__button::after{
    content: url(../images/Vector.svg);
    float: right;
}
.select-dropdown__button:focus {
    outline: none;
}
.select-dropdown__button .zmdi-chevron-down {
    position: absolute;
    right: 10px;
    top: 12px;
}
.select-dropdown__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #cecece;
    border-top: 0px solid transparent;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all ease-in-out 0.3s;
    z-index: 2;
    margin-top: -20px;
    margin-bottom:25px;
    border-radius: 6px;
}
.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}
.select-dropdown__list-item {
    display: block;
    list-style-type: none;
    padding: 10px 15px;
    background: #f8f9fd;
    border-top: 1px solid #e6e6e6;
    font-size: 18px;
    line-height: 28px;
    color: #343C51;
    cursor: pointer;
    text-align: left;
    transition: all ease-in-out 0.3s;
}
.select-dropdown__list-item:hover {
    background-color: #E4E7FB;
    color: #343C51;

    transition: all ease-in-out 0.3s;
}

.select-postion{
    position: relative;
}



/*File upload*/
.et_pb_contact_form_label {
	display: block;
	color: black;
	font-weight: bold;
  letter-spacing: 1.2px;
	font-size: 18px;
	padding-bottom: 5px;
}
input[id="et_pb_contact_brand_file_request_0"] {
	display: none;
}
label[for="et_pb_contact_brand_file_request_0"] {
    background: #f8f9fd;
    background-image: url(../images/attachment.svg);
    background-repeat: no-repeat;
    background-position: top 6px left 15px;
    background-size: 10%;
    color: transparent;
    width: 20%;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    height: 38px;
    border-radius: 6px;
    padding-left: 50px;
    padding-top: 5px;
    
}

label[for="et_pb_contact_brand_request_0"]:after {
	content: " (Provide link or Upload files if you already have guidelines)";
	font-size: 12px;
	letter-spacing: -0.31px;
	color: #7a7a7a;
	font-weight: normal;
}
label[for="et_pb_contact_design_request_0"]:after {
	content: " (Provide link or Upload design files)";
	font-size: 12px;
	letter-spacing: -0.31px;
	color: #7a7a7a;
	font-weight: normal;
}
label[for="et_pb_contact_brand_file_request_0"].changed, label[for="et_pb_contact_brand_file_request_0"]:hover {
  background-color: #e3f2fd;
}
label[for="et_pb_contact_brand_file_request_0"] {
  cursor: pointer;
  transition: 400ms ease;
}
.file_names {
    display: block;
    position: absolute;
    color: #343C51;
    left: 0;
    bottom: 25%;
    font-size: 16px;
    font-weight: 500;
    right: 40%;
    text-align: center;
}
/*contact us*/
.contact-header-content{
    padding-top:130px;
    padding-bottom: 100px;
}
.contact-header-left{
    width: 85%;
}
.contact-header-left h1{
    font-size: 50px !important;
    line-height: 60px !important;
    letter-spacing: -0.5px;
    font-weight: 700 !important;
    color: #343C51;
    margin-bottom: 30px;
}

.contact-header-content form .form-group label {
    color: #979797;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}
.contact-header-content form .form-group input {
    border: 1px solid #D8D8D8;
    
    background: #F8F9FD;
}

.contact-header-content form .form-group input[type=checkbox]{
    width:16px;
    height: 16px;
    border:none;
    margin-left: 20px;
    
}
.contact-header-content form .form-group input[type=checkbox]:checked {
  outline: none;
    
}
.blank-label{
    height:24px;
}
.area-checkbox{
    margin-top: 60px;
}
.checkbox-card{
    background: #F8F9FD;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 25px;
}

.checkbox-card label{
    font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: -0.5px;

color: #979797;
}
.checkbox-card input{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}


.contact-header-content .form-group textarea{
    border: 1px solid #D8D8D8;
    margin-bottom:25px;
    background: #F8F9FD;
}


/*XSM-User-Experience*/
.XSM-User-Experience{
    padding: 0 0 50px;
}
.XSM-User-Experience h4{
    font-weight: bold;
    font-size: 32px;
    line-height: 80px;
    margin-bottom: 40px;
}
.XSM-User-Experience table{
    width: 100%;
}
.XSM-User-Experience table thead img{
    height: 45px;
    width: 45px;
}
.XSM-User-Experience .bg-color{
    background: #F8F9FD;

}
.XSM-User-Experience table tr td{
    padding: 15px 35px;
    font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #437FEC;

}

/*sibankar integration*/
.integration-card{
    padding: 80px 50px;
    height: 580px;
}
.integration-card .card-icon{
height: 70px;
width: 70px;
margin-bottom: 35px;
}
.integration-card h6{
    font-weight: bold;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.01em;
margin-bottom: 10px;
}
.integration-card ul li span{
    margin-right: 10px;
}
.integration-card ul li{
    padding: 5px 0;
    font-size: 14px;
line-height: 35px;
}
.integration-card:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}
.devops{
    padding: 50px 0 150px 0;
}
.devops h4{
    font-weight: bold;
font-size: 36px;
line-height: 80px;
letter-spacing: -0.015em;
}
.devops h5{
    font-weight: bold;
font-size: 24px;
line-height: 34px;
letter-spacing: -0.015em;
}
.devops ul li{
    font-size: 20px;
line-height: 151%;
letter-spacing: -0.015em;

}
.devops p{
    font-size: 18px;
line-height: 151%;
letter-spacing: -0.015em;
}

/*integration wiizard carousal*/
.baler-accordian{
    background: linear-gradient(180deg, #EDF3FC 0%, rgba(237, 243, 252, 0) 100%);
    padding: 80px 0;
}
 #answer2, #answer3, #answer4 {display: none;}



.textbox {
  position: relative;
  top: 1%;
  left: 12%;
}





.new_member_box {


 
  text-align: right;
  font-size: 1em;
}


.new_member_box button:focus{
    outline:none;
}

.question1, .question2, .question3, .question4 {
    border: none;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    border: 1px solid #EEF2F4;
    margin: 20px 10px 40px;
    position: relative;
    top: 5px;
}

.new_member_box a{
 
  font-size: 12px;
line-height: 26px;
/* identical to box height, or 217% */



color: #979797;
}
.navigation::after {
    position: absolute;
    content: "";
    height: 320px;
    background-color: #ececec;
    width: 2px;
    /* margin-left: 15px; */
    top: 0;
    right: 13%;
    z-index: -1;
}
.baler-accordian-left-content h3{
    font-size: 24px !important;
    line-height: 80px;
    /* or 333% */
    
    letter-spacing: -0.015em;
    
    color: #343C51;
    
}

.baler-accordian-right-content img{
    width: 70%;
}

.shadow-baler{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.baler-anchor-bold{
    font-weight: bold !important;

line-height: 12px !important;
/* identical to box height, or 80% */


color: #343C51 !important;
}
/*button:active {
  background-color: maroon;
}*/

.open-position table th a{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #343C51;
    
}
.open-position{
    position: relative;
}
.open-position::after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Header/bg-top-element.png) no-repeat;
    transform: rotate(180deg);
    width: 100%;
    height: 380px;
    background-size: 12%;
    right: 0;
    bottom: 30%;
}
.bg-element-3{
    position: relative;
}
.bg-element-3::after {
    position: absolute;
    content: "";
    background: url(../images/bg-element.png) no-repeat;
    width: 100%;
    height: 380px;
    background-size: 12%;
    left: 0;
    bottom: 5%;
   
}


.popup-team-div .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border-radius: 0;
  
    width: 100vw;
    margin:auto;
    border: none;
   
  }
  .popup-team-div .modal-body {
    
    padding: initial;
}
.popup-team-div .modal-body .close-btn{
    position: absolute;
    right: 2%;
    top: 3%;
}

.popup-team-div .modal-body button:focus{
    outline: none;
  
}

.carousal-baler .single-team{

    height: 480px;
}


.our-team .modal {
    position: absolute;
    /* top: 0; */
    right: 0;
    /* bottom: 0; */
    left: 0;
    z-index: 1;
    display: none;
    overflow: hidden;
    outline: 0;
    padding: initial;
    height: 750px;
 
}
.our-team{
    position: relative;
}

.modal-backdrop.show {
    opacity: 0.5;
}
.modal-backdrop {
    position: absolute;
    
    z-index: -1;
    background-color: none;
}

.popup-team-div .our-team-inner{
    padding:150px 0 50px;
}

.popup-team-div .our-team-inner .single-team img{
    width:250px;
}

.open-modal img, .open-modal p, .open-modal span {
    pointer-events: none;
}

#popup-team-div{
    padding-right: initial !important;
}
