/*typography*/
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);
*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    font-family: 'Lato', sans-serif !important;
    color: #343C51 !important;
}
p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
a{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
ul{
    list-style: none !important;
   
}
h1{
    font-family: Lato;
    font-style: normal;
    font-size: 50px !important;
    line-height: 75px !important;
}
h2{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 55px !important;
line-height: 45px !important;   
}
h3{
    font-family: Lato;
font-style: normal;
font-size: 40px !important;
line-height: 51px !important;
}
h4{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 34px !important;
line-height: 45px !important;
letter-spacing: -0.1px !important;
}
h5{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 45px;
letter-spacing: -0.1px;
}
h6{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px !important;
    
}
.btn-1{
    background: #00C3FF;
box-shadow: 0px 4px 20px -6px rgba(76, 217, 237, 0.4);
border-radius: 6px;
padding: 10px 20px;
color: #fff;
}
.btn-1:hover{
color: #fff !important;
}
.btn-3{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #0160E7;
}
.btn-2{
    background: #00C3FF;
box-shadow: 0px 8px 8px rgba(0, 195, 255, 0.25);
border-radius: 5px;
padding: 15px 25px;
color: #fff;
}
.p-100{
    padding: 100px 0;
}
.heading-4{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 34px;
text-align: center;
letter-spacing: -0.015em;
color: #343C51;
}



/*navigation*/
.navbar-brand img{
    width: 112px;
    max-height: 63px;
}
.nav-link{
    font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px;
letter-spacing: -0.5px;
text-align: center;
color: #343C51 !important;
padding: 35px 10px 35px 10px !important;
}
.nav-link.active{
    border-bottom: 3px solid #0160E7;
}
.navbar{
    padding-bottom: 0 !important;
}
.dropdown-menu{
    background: #FFFFFF;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);


}
.navigation-bar{
    background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
height: 100px;
}
.dropdown-item{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.5px;
color: #000000;
border: none;
padding: 10px 45px 10px 15px !important;
}
.dropdown-item span{
    margin-right: 10px;
}
.fixed-top{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 30px !important;
    padding-left: 0.5rem;
   
}
}
/*Header-area*/
.header-area{
    background-image: url('../images/Header/header-bg-image1.png');
     background-position: center top;
      background-size: cover;
      margin-bottom: 70px;
}
.header-content{
    text-align:center;
    margin-top: 70px;
    font-weight: 400;
}
.header-content span{
    font-weight: 700;
}
/*system-data-content*/
.heading3{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 51px;
text-align: center;
}
.heading3 span{
    font-weight: 700;
}
.system-data .heading3{
margin-bottom: 25px;
}
.system-data-content{
    margin-bottom: 70px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 15px;
}
.system-data-content span{
    font-weight: bold;
}
.XSI:hover .XSI-img{
display: none;
transition: 2s;
}
.XSI:hover .XSI-img-blue{
    display: block;
}
.XSI-img-blue{
    display: none;
    transform: translateY(-70px);
}
.system-data-header{
    margin-bottom: 100px;
}
/*Integrated-Products*/
.Integrated-Products{
    background:  url(../images/Section2/Section-2-bg-image.png);
    background-position: center;
    background-repeat: no-repeat;

}
.heading1 h2{
    color: #437FEC;
    font-weight: 700;
}
.Integrated-Products h4{
    font-weight: 700;
}
.xsi-img{
    max-width: 546px;
}



/*digital-evolution*/
.digital-evolution{
    padding: 75px 0;
}
.digital-evolution  h4{
    font-weight: 700;
    font-size:40px;
    text-transform: uppercase;
}
.digital-evolution .partner-header{
    font-size: 24px !important;
    color: #437FEC;
    font-weight: 700;
 
}

/*brand carousal*/
.section-padding{
  padding:60px 0;
}

.owl-dots{
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #222222 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: #FF170F !important;
}
.owl-carousel .owl-item img {
  padding: 0 20px;
    height: 60px;
    filter: grayscale();
}
.owl-carousel .owl-item .single-logo:hover img{
    filter: none;
}


/*footer*/
.footer{
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 110px 0;
}
.footer h4{
    font-weight: bold;
    margin-bottom: 70px;
}
.footer-heading{
    margin-bottom: 140px;
}
.footer-item h6,.footer-item2 h6{
    margin-bottom: 40px;
}
.footer-item ul li a{
    font-weight: 300;
font-size: 15px;
line-height: 8px;
color: #343C51;
}
.footer-item input{
    margin-bottom: 20px;
    background: #FFFFFF;
border: 1px solid #D8D8D8;
box-sizing: border-box;
border-radius: 5px;
height: 40px;
width: 250px;
}
.footer hr{
    border: 0.75px solid #9DAFBD;
background: #9DAFBD ;
width: 100%;
opacity: 0.8;
}
.footer-item2 ul li{
    font-size: 12px;
line-height: 18px;
color: #343C51;
}
.social-icon{
    margin-bottom: 50px;
}
.social-icon li{
    display: inline-block;
    padding: 0  12px;
}


/*Integration-Advances*/
.Integration-Advances{
    background: url(../images/Section3/section3-bg-image.png);
    background-repeat: no-repeat;
    background-size: unset;
    padding: 100px 0;
    background-position: bottom;
}

.icon-name{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
text-align: center;
letter-spacing: -0.5px;
color: #343C51;
margin-top: 25px;
}








/*Integration page start*/
.integraton-bg{
    background-image: none;
    background-position: initial;
    background-size: initial;
    margin-bottom: 70px;
    position: relative;
}
.integraton-bg h1{
    font-size:36px !important;
}


.integraton-bg:after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Header/bg-top-element.png) no-repeat;
    width: 100%;
    height: 380px;
    background-size: 12%;
    left: 0;
    bottom: 50%;
}

.cross-head p{
    font-size:24px;
    line-height: 55px;
    font-weight: 400;
    color: #437FEC;
}
.bullet-cross::before{
    content: "";
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    background-color: #437FEC;
    position: absolute;
    left: 0;
    top: 30%;
}
.integraton-bg hr{
    width: 90%;
    margin: auto;
}
.integration-feature h3{
    font-size: 24px !important;
  
    font-weight: 600;
}

.flow-curve::after {
    position: absolute;
    content: "";
    background: url(../images/Integration-page/Section1/arrow2.svg) no-repeat;
    width: 100%;
    height: 300px;
    background-size: auto;
    left: -1%;
 
    bottom: 10%;
    background-position: center;
    z-index: -1;
}

.importance-integration{
    background: #F8F9FD;
    padding: 50px 0;
}
.importance-integration h4 {
    font-weight: 700;
    font-size: 36px !important;
    line-height: 80px !important;
    text-transform: capitalize;

}


/*xsi-products*/

.bullets{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #343C51;
}
.bullets::before{
    position: absolute;
    content: url(../images/bullets.png);
    transform: translateX(-18px);
}
.xsi-header-area{
    background-image: url('../images/xsi/header-bg-image.svg');
    background-position: center top;
     background-size: cover;
     margin-bottom: 70px;
     padding: 100px 0;
}
.important-integration-title{
    font-weight: bold;
font-size: 30px;

color: #343C51;
margin-bottom: 30px;
}
.important-integration p{
    margin-bottom: 22px;
}
.important-integration-content{
    padding-left:30px ;
}
.cross-system-title{
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 60px;
color: #437FEC;
margin-bottom: 20px;
}
.section-2{
    padding: 100px 0;
}
.system-integration-card{
    background: #EFF1FE;
box-shadow: 0px 4px 15px 4px rgba(190, 198, 237, 0.5);
border-radius: 21px;
padding: 50px 150px;
width: 100%;}
.system-integration-card p{
    font-size: 18px;
line-height: 27px;
text-align: center;
color: #343C51;
margin-bottom: 40px;
}
.system-integration-card p span{
    font-weight: bold;
}
.system-integration-card h6{
    font-size: 22px;
    text-align: center;
}
/*xdi-products*/

.xdi-header-area{
    background-image: url('../images/XDI/XDI-header-bg.svg');
    background-position: center top;
     background-size: cover;
     margin-bottom: 70px;
     padding: 100px 0;
}



/*xsm-products*/

